body{
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--main{
    color: #fff;
    font-weight: normal;
    font-size: 50px;
}
.link--cta{
    font-weight: normal;
    color: aquamarine;
    font-size: 16px;
}
.header-2{
    color: #fff;
    font-weight: 300;
    font-size: 42px;
}
.sub-header-1{
    font-size: 21px;
    color: gray;
}
.copyright{
   color: gray; 
   text-align: right;
}