body{
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--main{
    color: #fff;
    font-weight: normal;
    font-size: 50px;
}
.link--cta{
    font-weight: normal;
    color: aquamarine;
    font-size: 16px;
}
h3{
    color: #fff;
}